<div class="row about">
    <common-tabs-component [tabs]="_tabs" (onChangeActiveTab)="onChangeActiveTabHandler($event)" ></common-tabs-component>
    <div class="tab-content" *ngIf="_activeTab == 'rights'">
        <div class="info alert alert-info">Основы прав и обязанностей пациентов  подготовлены в соответствии с Европейским отчетом по правам пациентов (Амстердам, 1994), Отчетом Всемирной ассоциации врачей по правам Пациентов (Бали, 1995), Государственными нормативными актами Российской Федерации, в том числе Федеральным законом от 21.11.2011 № 323-ФЗ (ред. от 28.12.2013) "Об основах охраны здоровья граждан в Российской Федерации".</div>
        <common-text-component [text]="_about.rights" [expandFirstPart]="true"></common-text-component>
        <div class="info alert alert-info" [innerHTML]="_about.law"></div>
    </div>
    <div class="tab-content" *ngIf="_activeTab == 'comments'">
        <comments-component [comments]="_about.comments"></comments-component>
    </div>
    <div class="tab-content" *ngIf="_activeTab == 'photos'">
        <common-photo-gallery [imageNames]="_about.photoGallery"></common-photo-gallery>
    </div>
    <div class="tab-content" *ngIf="_activeTab == 'license'">
    </div>
</div>