<div class="hidden-md-down col-lg-4 contacts-footer">
    <div class="center-block">
        <div class="phone-call-big"></div>
        <h4>Позвонить</h4>
    </div>
    <div class="phone">
        <div class="city-phone">
            <h4>Городской</h4>
        </div>
        <div>
        <h4><a href="tel:{{contact.cityPhone}}">{{contact.cityPhone}}</a></h4>
        </div>
    </div>
    <div class="phone">
        <div class="cell-phone">
            <h4>Сотовый</h4>
        </div>
        <div>
            <h4><a href="tel:{{contact.mobilePhone}}">{{contact.mobilePhone}}</a></h4>
        </div>
    </div>            
</div>