<div class="col-xs-11 col-sm-8 col-md-6 col-lg-3 contacts-top">
    <div class="row contacts-tabs">
        <ul class="contacts clearfix hidden-print">
            <li class="contacts-tab" [class.active-tab]="isContactTabActive"  (click)="SetActiveTab($event)">
            Телефоны
            </li>
            <li class="contacts-tab" [class.active-tab]="!isContactTabActive" (click)="SetActiveTab($event)">
            Режим работы
            </li>
        </ul>
        <div class="contact-tab-content" id="contacts-tab" *ngIf="isContactTabActive">
        <!-- City phone-->
            <div class="phone">
            <div class="city-phone">
                <h4>Городской</h4>
            </div>
            <div>
                <h4><a href="tel:{{contact.cityPhone}}">{{contact.cityPhone}}</a></h4>
            </div>
            </div>
            <div class="phone">
            <div class="cell-phone">
                <h4>Сотовый</h4>
            </div>
            <div>
                <h4><a href="tel:{{contact.mobilePhone}}">{{contact.mobilePhone}}</a></h4>
            </div>
            </div>
            <div class="vk hidden-print">
                <h4>Мы</h4>
                <a target="blank" [href]="contact.vkGroupAddress"><span class="contacts-vk"></span></a>
            </div>
        </div>
        <!-- work hours tab -->
        <div class="contact-tab-content" id="work-hours-tab" *ngIf="!isContactTabActive">
            <div><h4>График работы клиники</h4></div>
            <div>{{contact.workHours}}</div>
            <div><a [routerLink]="['ContactsPage']">Схема проезда</a></div>
        </div> 
    </div>
    <div class="row contacts-address-row clearfix hidden-print">
        <!-- Addresss -->
        <div class="marker"></div>
        <div class="address">{{contact.address}}</div>
    </div>
</div>