<div class="row discount-row">
    <div class="alert alert-info">Разовая 7%-ная скидка на медицинские услуги поликлиники предоставляется при предъявлении распечатанного номерного купона администратору-кассиру клиники до получения услуги.</div>
    <div class="alert alert-warning">Cкидки, предоставляемые на услуги ОАО «Медицина», не суммируются.</div>
    <div>
        <p>Для распечатки купона необходимо использовать сервис браузера для печати страницы сайта:</p>
        <div class="discount-card">
            <div class="discount-card-header">Разовая скидка в Клинике восстановительной медицины</div>
            <div class="discount-card-procent">7%</div>
            <div class="discount-card-time">Действует в течении 1 дня</div>
            <div class="discount-card-number">№{{_number}}, {{_date}}</div>
        </div>
        <p>
            <strong>1 способ</strong><br />
            Правой кнопкой мыши вызвать контекстное меню и выбрать <em>Печать</em> (браузер Google Chrome).
        </p>
        <p>
            <strong>2 способ</strong><br/>
            В правом углу окна браузера использовать меню. Выбрать <em>Печать</em>.
            <img [src]="_printAssetUrl" />
        </p>
    </div>
</div>