<button class="navbar-toggler hidden-md-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">&#9776;</button>
<div class="collapse mobile" id="exCollapsingNavbar">
    <div class="nav navbar-nav clearfix">
    <a class="nav-item nav-link" href="#">Клиника</a>
    <a class="nav-item nav-link" [routerLink]="['ServicesPage']">Лечение и диагностика</a>
    <a class="nav-item nav-link" [routerLink]="['DoctorsPage']">Врачи</a>
    <a class="nav-item nav-link" [routerLink]="['ContactsPage']">Контакты</a>
    </div>
</div>