<div class="row nav-row">
            <!-- nav bar -->
    <nav class="hidden-sm-down navbar navbar-full">
            <div class="nav navbar-nav clearfix">
            <a class="nav-item nav-link" href="#">Клиника</a>
            <a class="nav-item nav-link" href="#">Лечение и диагностика</a>
            <a class="nav-item nav-link" href="#">Врачи</a>
            <a class="nav-item nav-link" [routerLink]="['ContactsPage']">Контакты</a>
            <enroll-component [isInNav]="true" (onOpenEnrollModal)="onOpenEnrollModalHandler($event)"></enroll-component>
        </div>
    </nav>
    <enroll-component [isInNav]="false" (onOpenEnrollModal)="onOpenEnrollModalHandler($event)"></enroll-component>
</div>