<get-discount-component></get-discount-component>
<div class="row nav-row hidden-print">
    <nav class="hidden-sm-down navbar navbar-full">
        <div class="nav navbar-nav clearfix">
            <div class="col-md-offset-1 col-md-2 col-lg-offset-1 col-lg-2"><a class="nav-item nav-link" [routerLink]="['AboutPage']">Клиника</a></div>
            <div class="col-md-2 col-lg-2"><a class="nav-item nav-link" [routerLink]="['ServicesPage']">Услуги</a></div>
            <div class="col-md-2 col-lg-2"><a class="nav-item nav-link" [routerLink]="['DoctorsPage']">Врачи</a></div>
            <div class="col-md-2 col-lg-2"><a class="nav-item nav-link" [routerLink]="['ContactsPage']">Контакты</a></div>
            <div class="col-md-2 col-lg-2"><a class="nav-item nav-link" [routerLink]="['PricesPage']">Стоимость</a></div>
        </div>
    </nav>
</div>