<!-- Navigation clone -->
<div class="hidden-md-down col-lg-4 footer-nav">
    <div class="nav navbar-nav clearfix">
        <a class="nav-item nav-link" [routerLink]="['AboutPage']">Клиника</a>
        <a class="nav-item nav-link" [routerLink]="['ServicesPage']">Лечение и диагностика</a>
        <a class="nav-item nav-link" [routerLink]="['DoctorsPage']">Врачи</a>
        <a class="nav-item nav-link" [routerLink]="['ContactsPage']">Контакты</a>
        <a class="nav-item nav-link site-map" href="#">Карта сайта</a>
    </div>
</div>