<div class="row phones-row">
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
        <h2>Телефоны</h2>
    </div>    
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 phone"><span>Городской</span><span>{{_contact.cityPhone}}</span></div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 phone"><span>Сотовый</span><span>{{_contact.mobilePhone}}</span></div>
        </div>
    </div>
</div>