<div class="services-group-details row">
    <services-group-title-component [title]="_servicesGroup.title"></services-group-title-component>
    <services-group-back-component></services-group-back-component>
    <services-group-popular-component [services]="_servicesGroup.services"></services-group-popular-component>
    <services-group-rest-services-component [services]="_servicesGroup.services"></services-group-rest-services-component>
    <common-text-component [text]="_servicesGroup.text" [isService]="false"></common-text-component>
</div>