<div class="service-details row">
    <common-title-component [title]="_service.title"></common-title-component>
    <common-back-component [backRoute]="_backRouteName" [backTitle]="_backTitle"></common-back-component>
    <common-tabs-component [tabs]="_tabs" (onChangeActiveTab)="onChangeActiveTabHandler($event)"></common-tabs-component>
    <div class="tab-content" *ngIf="_activeTab == 'about'">
        <common-text-component [text]="_service.text" [expandFirstPart]="true"></common-text-component>
    </div>
    <div class="tab-content" *ngIf="_activeTab == 'price'">
        <common-price-component [prices]="_service.prices" [showMessage]="true"></common-price-component>
    </div>
    <div class="tab-content" *ngIf="_activeTab == 'doctors'">
        <common-doctors-component [urls]="_service.doctorUrls"></common-doctors-component>
    </div>
</div>