<div class="row services-row">
    <div *ngFor="#serviceGroup of _servicesData; #i=index">
        <div class='col-xs-12 col-sm-12 col-md-6 col-lg-4'>
            <div class='media'>
                <div class="media-heading" (click)="gotoServicesGroupDetail(serviceGroup)">
                    <a class='media-left'>
                        <img class='media-object' [src]="serviceGroup.imageBase64" />
                    </a>
                    <h4>{{serviceGroup.title}}</h4>
                </div>
                <div class='media-body'>                    
                    <span>{{serviceGroup.body}}</span>
                </div>
                <div class="links">
                    <a *ngFor="#service of serviceGroup.services" href="#">{{service.title}}</a>
                </div>
                <div class="all-services-link">
                    <a (click)="gotoServicesGroupDetail(serviceGroup)">Все услуги</a>
                </div>
            </div>
        </div>
        <div *ngIf="(i+1)%2==0" class='clearfix hidden-sm-down hidden-lg-up'></div>
        <div *ngIf="(i+1)%3==0" class='clearfix hidden-md-down'></div>
    </div>
</div>
<div class="row services-offset-row"></div>