<div class="services-group-details row">
    <common-title-component [title]="_servicesGroup.title"></common-title-component>
    <common-back-component [backRoute]="_backRouteName" [backTitle]="_backTitle"></common-back-component>
    <services-group-popular-component [services]="_servicesGroup.services"></services-group-popular-component>
    <services-group-rest-services-component [services]="_servicesGroup.services"></services-group-rest-services-component>
    <common-doctors-component [therapy]="_servicesGroup.title"></common-doctors-component>
    <common-text-component [text]="_servicesGroup.text" [isService]="false"></common-text-component>
</div>